module.exports = {
  apps: [{
    name: 'boushi2',
    script: 'main.py',
    interpreter: '.venv/bin/python',
    interpreter_args: '-u',
    watch: false,
    restart_delay: 1000,
    log_date_format: 'YYYY-MM-DD HH:mm Z',
    merge_logs: true,
    env: {
      SLACK_APP_TOKEN: 'xapp-xxx',
      SLACK_BOT_TOKEN: 'xoxb-xxx'
    }
  }]
}
